@charset "utf-8";
/* CSS Document */



#kento-fb-vote {
  height: 100px;
  width: 100%;
}

#vote-button {
  background-color: #3f5fb9;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  cursor: pointer !important;
  height: 25px;
  width: 60px;
}
#vote-info {
  font-size: 12px;
  margin-left: 70px;
  padding-top: 4px;
}
#vote-button, #vote-info {
  display: inline-block;
  position: absolute;
}


.voted, .notvoted {
  display: block;
  height: 25px;
  width: 20px;
}
.voted{
	background: url("vote.png") no-repeat scroll 3px 3px rgba(0, 0, 0, 0) !important;
	}
.voted:hover{
	background: url("vote.png") no-repeat scroll -18px 3px rgba(0, 0, 0, 0) !important;
	}

.notvoted {
	background: url("vote.png") no-repeat scroll 3px -37px rgba(0, 0, 0, 0) !important;
	}
.notvoted:hover{
	background: url("vote.png") no-repeat scroll 3px 3px rgba(0, 0, 0, 0) !important;
	}


.vote-text {
  color: #FFFFFF;
  float: right;
  font-size: 15px;
  padding-right: 5px;
}

.voted, .notvoted, .vote-text{
  display: inline-block;
}


.who-voted {
  padding-top: 40px;
}
.who-voted img {
  border-radius: 0 !important;
  box-shadow: none !important;
  height: 40px;
  margin-left: 5px;
  width: 40px;
}
#kento-like-post-login {
  background-color: #DDDDDD;
  border: 3px solid #FFFFFF;
  box-shadow: 0 0 38px -12px #000000;
  height: auto;
  left: 35%;
  padding-top: 16px;
  position: fixed;
  text-align: center;
  top: 30%;
  width: 339px;
  z-index: 9999;
  display:none;

}

#black-bg{
  background-color: #000000;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0.4;
  position: fixed;
  top: 0;
  width: 100%;
}




.kento-pvc-top-post {
  border-collapse: collapse;
  width:100%;
}


.kento-pvc-top-post tr{}

.kento-pvc-top-post td {
  border: 1px solid #999999;
  padding: 5px;
  text-align: center;
}

.kento-pvc-top-post .post-title {
  padding-left: 15px;
  text-align: left;
}

.kento-pvc-top-post .post-title a{
	text-decoration:none;
}

.kento-pvc-by-date-submit {
  background-color: #DDDDDD;
  border-radius: 5px;
  box-shadow: 0 2px 1px -1px #000000;
  font-weight: 600;
  margin-top: 20px;
  padding: 5px;
  text-align: center;
  width: 100px;
}

.kento-pvc-by-date-submit:hover {

  box-shadow: 0 1px 1px -1px #000000;
  cursor:pointer;

}
#kento-pvc-by-date-result .no-result {
  color: #FF0000;
}

.kento-pvc-by-viewed, .kento-pvc-by-date, .kento-pvc-by-city, .kento-pvc-by-city-post {
  background-color: #CFCFCF;
  display: inline-block;
  height: 500px;
  margin-left: 30px;
  margin-top: 20px;
  overflow: hidden;
  padding: 10px;
  vertical-align: top;
  width: 40%;
}

.kento-pvc-by-city-details {
  cursor: pointer;
  float: right;
  font-size: 12px;
  padding: 3px;
}

.kento-pvc-by-city-details-active {

}